:root {
  --color-dark: oklch(0.2 0 0);
  --color-light: oklch(0.95 0 0);
  --color-accent: oklch(0.5 0.4 340);

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  line-height: 1.5;

  color: var(--color-dark);
  background-color: var(--color-light);
  accent-color: var(--color-accent);
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--color-light);
    background-color: var(--color-dark);
  }
}

body {
  max-width: 768px;
  margin: 0 auto;
  padding: 1em;
}

a {
  color: var(--color-accent);
}


table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid var(--color-light);
  padding: 0 0.4em;
}

ul,
ol {
  padding-left: 1.2em;
}

iframe {
  border: none;
  width: 200%;
  aspect-ratio: 16 / 9;
  transform: scale(0.5);
  transform-origin: 0 0;
}
